# Base directory where sibling repositories are checked out
STACK_ROOT=/home/hiyori2023

# Default services to check or start
SERVICES="infra-reverse-proxy infra-fail2ban infra-munin app-tategaki app-wordpress app-ttrss app-syncthing app-openvpn app-txtmiru-with-narourb app-mirakurun-epgstation"
